:root {
  --logo-web-button-color: #4d5ae5;
  --button-color: #404bbf;
  --text-color: #2e2f42;
  --contacts-color: #434455;
  --footer-text-color: #f4f4fd;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --white-color: #ffffff;
}

body {
  font-family: var(--text-font-family);
}

.logo {
  color: var(--logo-web-button-color);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--text-color);
}

.nav-items {
  color: var(--text-color);
}

.nav-items:hover,
.nav-items:focus {
  color: var(--logo-web-button-color);
}

.contact {
  color: var(--contacts-color);
}

.contact:hover,
.contact:focus {
  color: var(--logo-web-button-color);
}

.button {
  color: var(--logo-web-button-color);
  background-color: var(--footer-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.button:hover,
button:focus {
  color: var(--white-color);
  background-color: var(--button-color);
}

.name-app {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.app-category {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer {
  background-color: var(--text-color);
  color: var(--footer-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer-logo {
  color: var(--footer-text-color);
}
